# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!

import pandas as pd
import numpy as np

baltimore = pd.read_csv("C:/Users/Sa Shea/data-analysis-projects-SaSheaG/data-manipulation-exercises-studio/data-manipulation-studio/dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("C:/Users/Sa Shea/data-analysis-projects-SaSheaG/data-manipulation-exercises-studio/data-manipulation-studio/dataset/boston_9-24-2016_9-30-2017.csv")
new_york = pd.read_csv("C:/Users/Sa Shea/data-analysis-projects-SaSheaG/data-manipulation-exercises-studio/data-manipulation-studio/dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("C:/Users/Sa Shea/data-analysis-projects-SaSheaG/data-manipulation-exercises-studio/data-manipulation-studio/dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

**Recommended cleaning steps:**
1. Handle missing values in the `Type` column (fill with "Conventional" if needed)
2. Drop irrelevant columns such as `Grade` (only applies to canned pumpkins)
3. Drop columns with high percentages of missing data that aren't needed for analysis
4. Check for and address any other data quality issues you notice

In [9]:
baltimore.head()

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [6]:
# Clean your data here!
# 1 change missing values in Type column to "Conventional"
# example: data["Type"] = data["Type"].fillna("Conventional")

baltimore["Type"] = baltimore["Type"].fillna("Conventional")
boston["Type"] = boston["Type"].fillna("Conventional")
new_york["Type"] = new_york["Type"].fillna("Conventional")
philadelphia["Type"] = philadelphia["Type"].fillna("Conventional")

In [ ]:
#check
baltimore

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,Conventional,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,Conventional,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,PUMPKINS,BALTIMORE,Conventional,1/2 bushel cartons,MINIATURE,NaN,NaN,09/30/2017,18,18.0,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
149,PUMPKINS,BALTIMORE,Conventional,1/2 bushel cartons,MINIATURE,NaN,NaN,09/30/2017,18,18.0,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
150,PUMPKINS,BALTIMORE,Conventional,1/2 bushel cartons,MINIATURE,ROUND TYPE,NaN,09/24/2016,15,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
151,PUMPKINS,BALTIMORE,Conventional,1/2 bushel cartons,MINIATURE,ROUND TYPE,NaN,10/01/2016,15,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
152,PUMPKINS,BALTIMORE,Conventional,1/2 bushel cartons,MINIATURE,ROUND TYPE,NaN,10/08/2016,15,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [11]:
# 2. Drop irrelevant columns such as "Grade"


boston = boston.drop(["Grade"], axis=1) 
new_york = new_york.drop(["Grade"], axis=1) 
philadelphia = philadelphia.drop(["Grade"], axis=1)

In [12]:
boston

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,200,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,Conventional,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,180,165,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,PUMPKINS,BOSTON,Conventional,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/22/2016,15,18,15,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
348,PUMPKINS,BOSTON,Conventional,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/29/2016,15,18,15,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
349,PUMPKINS,BOSTON,Conventional,1/2 bushel cartons,MINIATURE,ROUND TYPE,10/29/2016,15,18,15,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
350,PUMPKINS,BOSTON,Conventional,1/2 bushel cartons,MINIATURE,ROUND TYPE,11/05/2016,15,18,15,...,WHITE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
351,PUMPKINS,BOSTON,Conventional,1/2 bushel cartons,MINIATURE,ROUND TYPE,11/05/2016,15,18,15,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [16]:
# 3. Drop columns with high percentage of missing data

for col in baltimore.columns:
    pct_missing = np.mean(baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 1%
Sub Variety - 84%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [17]:
#for boston 

for col in boston.columns:
    pct_missing = np.mean(boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Sub Variety - 92%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [18]:
# for new york

for col in new_york.columns:
    pct_missing = np.mean(new_york[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Sub Variety - 84%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [19]:
# for philadelphia

for col in philadelphia.columns:
    pct_missing = np.mean(philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 0%
Package - 0%
Variety - 0%
Sub Variety - 79%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [20]:
# I will drop the environment column from each dataframe because all values are missing

baltimore = baltimore.drop(["Environment"], axis= 1)
boston = boston.drop(["Environment"], axis=1)
new_york = new_york.drop(["Environment"], axis=1) 
philadelphia = philadelphia.drop(["Environment"], axis=1)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [23]:
# Combine the four dataframes into one!

combined = (
    baltimore.merge(boston, on="Type", how="inner").merge(new_york, on="Type", how="inner").merge(philadelphia, on="Type", how="inner")
)

MemoryError: Unable to allocate 38.4 GiB for an array with shape (15, 343816704) and data type float64

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region?
2. For the Northeast region, what is the total count of transactions (rows) for each pumpkin variety that came into terminal markets for the year?

In [57]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

In [ ]:
# Put your code here to find the total count of transactions for each variety in the Northeast region.

## Bonus Mission

Try answering the same questions for a different region! Choose either:
- **Midwest**: Chicago, Detroit, and St. Louis
- **Southeast**: Atlanta, Columbia, and Miami

Load, clean, and combine the data for your chosen region, then calculate:
1. The mean low and high prices for each type of unit of sale
2. The total count of transactions for each pumpkin variety

In [59]:
# Try the bonus mission if you have time!